[/]
### The title of your blog
blog_title="Blog Title"

### A short description of your blog
blog_desc="What this blog is"

### the language of your blog, used for your rss feed. For more information on
### this property, see 
### http://www.w3.org/TR/REC-html40/struct/dirlang.html#langcodes
blog_lang="en"

### The name of the blog author
blog_author="John Doe"

### The email address of the blog author
blog_email="john.doe@example.com"

### The location of your blog entries. May be a relative or absolute path.
datadir="./entries"

### The base url of your blog
base_url="http://localhost:4567/"

### The number of entries to show on the first page of your blog and in your
### rss feeds
num_entries=5

### Directories in which cherry blossom shouldn't look for blog entries
ignore_directories=[".svn"]

### A list of the plugins which cherry blossom should try to load. For example,
### if you wanted to load the comments, rss and keywords plugins, you would use
### plugins=["Comments", "Rss", "Keywords"]
plugins=[]

### The directory in which your plugins live; may be absolute or relative
plugin_dir="./plugins"

### The format you would like the date to be displayed in on your blog
### See http://docs.python.org/lib/module-time.html for documentation of the format
### strings
date_fmt="%b %d, %Y"

### template_engine is the name of the templating engine you're using
template_engine = "cheetah"

### template_dir is the directory in which your template files reside
template_dir = "./templates"

### This directive creates a static directory at base_url/static; to turn this off,
### simply change True to False or comment out that line
[/static]
tools.staticdir.on = True
tools.staticdir.dir = "static"
