/* see http://developer.yahoo.com/yui/fonts/ */
@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");

a:link {color: #000;}
a:visited {color: #000;}

body {
    margin-top: 25px;
    font-family: Cambria,Georgia,Times New Roman,Calibri,serif;
    line-height: 160%;
}

#bd {
    float:right;
}

#bd h1 {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 153.9%;
    margin-bottom: 20px;
    color: #000;
}

#bd h1 a:link, h1 a:visited {
    color: #000;
    text-decoration:none;
}

/* #bd h1 a:visited {
    color: #000;
} */

#bd h2 {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 123.1%;
    margin-bottom: 5px;
}

#bd h3, a {
    font-family: Cambria,Georgia,Times New Roman,Calibri,serif;
    font-size: 77;
    color: #888;
}

h3 a:link {
    color: #888;
}

#about {
    margin-top: -5px;
    color: #333;
}

#about a:link {color: #888;}
a:visited {color: #888;}

p {
    padding: 5px;
}

#entry {
    margin-bottom: 60px;
}

pre {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #eee;
}

.yui-g {
    font-size: 108%;
}
