#if $varExists('offset')
    <div id="next-button">
        <a href="index?offset=$offset">next $num_entries &gt;&gt;</a>
        &nbsp; &nbsp;
    </div>
#end if
	<!--<div id="footer"></div> Empty right now! -->
</div> <!-- end main content -->
<div id="right-menu">
<div id="navcontainer"> <!--begin side navigation -->
    <div id="logo">
        <img src="/static/billmill.gif">
    </div>
    <ul id="right-navlist">
        <li>
        <a href="#">code</a> &bull; 
        <a href="#">words</a> &bull;
        <a href="http://flickr.com/photos/llimllib">photos</a> &bull;
        <a href="/">blog</a> &bull;
        <a href="/Rss/">rss</a> &bull;
        <a href="http://www.last.fm/user/llimllib">music</a> &bull;
        <a href="http://del.icio.us/llimllib">bookmarks</a> &bull;
        <a href="http://bloglines.com/public/llimllib">blogroll</a> &bull;
        <a href="mailto:bill.mill@gmail.com">email</a>
        </li>
    </ul>
</div><!-- end side navigaion -->

<!-- begin more info -->
<div id="more-info"><!--<h2 class="sideheader">My Name Rhymes</h2>-->
		<p></p>
		<p>I'm a programmer for a small company in 
        Connecticut, USA. Besides programming, I play competitive 
        <a href="http://www.ultimatehandbook.com/uh/basics_thegame.html">ultimate</a>. I blog
        at irregular intervals about various programming topics, but mostly
        Python.
        </p>
</div><!-- end more info -->

</div><!--end main box div-->
</body>
</html>
