    <div id="entry">
    <h1>$title
<br>$tmstr</h1><br>
$text
<p>
#if $varExists('n_comments')
    #if $n_comments > 1
        #set $commentstr = ' (%s Comments)' % ($n_comments)
    #elif $n_comments == 1
        #set $commentstr = ' (1 Comment)'
    #else
        #set $commentstr = ' (0 Comments)'
    #end if
#else
    #set $commentstr = ''
#end if
[<a href="$base_url$relpath">#$commentstr</a>] $getVar('keywords', '')
</div>
